
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

@font-face{
    font-family: "idroid";
    src: url("idroid.otf") format("opentype");
}

main{
    text-align: left;
    font: lighter 16px Arial, sans-serif;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.371);
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.447);
    background-color: white;
    border-end-start-radius: 5px;
}
main > article > h1{

    font-family: "idroid", sans-serif;
    font-size: 20px;
    color: #197a43;

}
main > article > h2{
    font-family: "idroid";
    font-size: 16px;
    font-weight: bold;
    background-image: linear-gradient(to right, #bbe4cd, #F1FAF5);
    color: #197a43
}
main > article > p{
    text-indent: 14px;
}

body{
    margin: auto;
    text-align: center;
    background-color: #84E1AD;
}
body > p{
    text-align: justify;
}

.mainheader{
    background-image: linear-gradient(to top, #195835, #3CDA83);
    width: auto;
    margin: 0px;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.412);
}

.headertitle{
    font-family:"Oswald";
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 15px;
}
.headersubtitle{
    font-family: "Oswald";
    font-weight: lighter;
    text-align: center;
}
.headermenu{
    font-family: "Oswald";
    font-weight: normal;
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linkbar{
    text-decoration: none;
    color: white;
}
.linkbar:hover{
    text-decoration: underline;
    color: rgb(238, 255, 7);
}
.headermenu > li{
    margin-right: 50px;
}
.cit{
    text-decoration: none;
    color:#3b9e67;
}
.cit:hover{
    color: #0ac400;
}
.andvid{
    margin: 10px -26px;
    padding: 10px;
    width: auto;
    display: flex;
    background-color:#48705a;
    justify-content: center;
}
.refs >h2{
    padding: 0px;
    color: white;
    background-color: #2FA866;
    border-radius: 5px;
    padding-inline-start: 10px;
    font-size: 21px;
}
.refs{
    background-color: #C5EBD6;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.595);
}
.refs > p{
    border-radius: 7px;
    padding: 7px;
}
.refsdiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

.list::before{
    content: "✓";
}
.listdiv{
    padding-right: 200px;
}
footer{
    background-color: #195835;
    margin: 10px -26px;
    margin-bottom: -26px;
    margin-top: 25px;
}
footer > p{
    margin: 0px;
    font-size: 18px;
    color: white;
    text-align: center;
    width: auto;
}
.gitdev{
    text-decoration: none;
    color: white;
}
.gitdev:hover{
    text-decoration: underline;
    color: yellow;
}
.img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}